*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:"poppins",sans-serif;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #0f172a, #5b6682, #503d62);
}